* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "sofia pro";
}

a {
    text-decoration: none;
}

@font-face {
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
    font-family: "sofia pro";
}

body {
    background-color: #12110f;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-sec {
    background-image: url(../images/Rectangle\ 4582.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    align-items: center;
}

.top-nav .right-nav {
    display: flex;
    align-items: center;
    
}

.top-nav .right-nav .menu-nav ul {
    display: flex;
    gap: 50px;

}

.top-nav .right-nav .menu-nav ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.16px;
    color: #FFFFFF;

}


.top-nav .right-nav .download-btn a {
    background-color: #F65F5F;
    border-radius: 100px;
    margin-left: 96px;
    padding: 10px 20px;
    color: #0D0D0D;
    font-size: 14px;
    font-weight: 400;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header .left-main-header {
    margin-top: 100px;
    width: 540px;
}



.main-header .left-main-header .heading .left-title-span {
    background-color: #2e1717;
    padding: 4px 5px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    width: 139px;
    gap: 6px;
    position: relative;
}

.main-header .left-main-header .heading .left-title-span span {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #fff;
}


.main-header .left-main-header .heading .left-title-span:before {
    content: "";
    position: absolute;
    background-image: url(../images/Vector.png);
    width: 14px;
    height: 14px;
    top: -20px;
    left: 7px;
    background-repeat: no-repeat;
}

.main-header .left-main-header .heading h1 {
    font-size: 58px;
    font-weight: 900;
    line-height: 78.3px;
    color: #fff;
}

.main-header .left-main-header .heading h1 .red {
    color: #f5464b;
}

.main-header .left-main-header .heading h1 .yellow {
    color: #ffc45c;
}

.main-header .left-main-header .desc {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.21px;
    color: #FFFFFF;
    margin-top: 75px;
    position: relative;
    
   
}

.main-header .left-main-header .desc::before {
    content: "";
    position: absolute;
    background-image: url(../images/Decore.png);
    width: 236px;
    height: 236px;
    background-repeat: no-repeat;
    top: -55px;
    right: 123px;

}

.main-header .left-main-header .search-box form {
    background-color: #0D0D0D;
    padding: 6px;
    width: 400px;
    border: 0.5px solid #fff;
    border-radius: 100px;
    margin-top: 27px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 34px;
    align-items: center;
}

.main-header .left-main-header .search-box input {
    background: transparent;
    border: none;
  
}

.main-header .left-main-header .search-box button {
    background-color: #FDCE77;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 165px;
}

.main-header .left-main-header .search-box input::placeholder {
    margin-left: 20px;
}
.main-header .left-main-header .search-box img {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}


.main-header .left-main-header .main-btns {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.onclick-btn img {
    margin-top: 28px;
}


.main-header .left-main-header .main-btns .dwn-app {
    background-color: #F65F5F;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 400;
    color: #0D0D0D;

}

.main-header .left-main-header .Watch-video {
    display: flex;
   
}

.main-header .left-main-header .Watch-video i {
    background-color: #0D0D0D;
    color: #F65F5F;
    padding: 17px 18px;
    margin-right: 20px;
    border-radius: 100px;
    box-shadow: 0px 15px 30px 0px #DF69514D;

}


.main-header .left-main-header .Watch-video a {
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
}

.offers-sec {
    margin-top: 145px;
}

.offers-sec .offer-title {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
   
}

.offers-sec .offer-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.offers-sec .offer-title h2 span {
    color: #f54748;
}

.offers-sec .offer-title p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffb3;
    width: 835px;
    text-align: center;
    margin: 30px 0;

}

.products {
    display: flex;
    gap: 18px;
    margin-top: 30px;
}

.products .product-box {
    text-align: center;
   
}

.products .product-box .content {
    text-align: center;
    background: linear-gradient(179.69deg, rgba(255, 255, 255, 0) -31.53%, #ab8785 303.75%);
    margin-top: -124px;
    padding-top: 130px;
    padding-right: 30PX;
    padding-left: 30px;
    border-radius: 20px;
    position: relative;

}

.products .product-box .reviews {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.products .product-box .reviews i {
    color: #FFBE1A;
}

.products .product-box .reviews span {
    color: #fff;
}

.products .product-box .product-title {
    font-size: 24px;
    font-weight: 600;
    color: #F65F5F;
    margin-top: 30px;

}

.products .product-box p {
    font-size: 16px;
   font-weight: 400;
   color: #fff;
   line-height: 21px;
   margin-top: 16px;
}

.products .product-box .order-btn {
    margin-top: 30px;
}

.products .product-box .order-btn a {
    background: #F65F5F;
    padding: 10px 20px;
    color: #0D0D0D;
    border-radius: 50px;
}

.products .product-box .price {
    background: #FDCE77;
    font-size: 18px;
    border: 4px solid #0D0D0D;
    border-radius: 100px;
    position: absolute;
    top: 40px;
    right: 55px;
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.aboutus-sec {
    margin-top: 110px;
    display: flex;
    align-items: center;
    padding-right: 115px;
}

.aboutus-sec .about-rightside .about-title h3 {
    width: 480px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    
}

.aboutus-sec .about-rightside .about-title h3 .red {
    color: #F65F5F;
}

.aboutus-sec .about-rightside .about-title h3 .yellow {
    color: #ffc364;
}

.aboutus-sec .about-rightside .about-title p, .app-section .leftside-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.16px;
    color: #ffffffb3;
    margin: 25px 0;
}

.aboutus-sec .services {
    display: flex;
    gap: 70px;
}

.aboutus-sec .services .col ul {
    gap: 30px;
    display: grid;
}

.aboutus-sec .services .col ul li {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    align-items: center;
    display: flex;
    gap: 10px;

}

.aboutus-sec .aboutus-btn {
    margin-top: 35px;
}

.aboutus-sec .aboutus-btn  a {
    background: #F65F5F;
    padding: 10px 20px;
    color: #0D0D0D;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
   
}

.about-leftimg {
    position: relative;
}

.about-leftimg:after {
    content: "";
    position: absolute;
    background-image: url(../images/chevron.png);
    width: 417px;
    height: 500px;
    right: -126px;
    background-repeat: no-repeat;
    top: 16%;
}

.menu-tab-sec .menu-title {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;

}

.tab-row {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}

.menu-tab-sec .menu-title h4, .app-section .leftside-content h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    color: #fff;
    width: 650px;

}

.menu-tab-sec .menu-title h4 .red, .app-section .leftside-content h4 .red {
    color: #F65F5F;
}

.menu-tab-sec .menu-title h4 .yellow, .app-section .leftside-content h4 .yellow {
    color: #ffc364;
}

.tab-row button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #ffffffad;
    font-size: 18px;
    font-weight: 400;
    color: #ffffffad;
    transition: .5s;
}

.tab-row button.onclick, .tab-row button:hover {
    background-color: #F65F5F;
    border-color: #F65F5F;
    color: #0D0D0D;
    
}

.app-section {
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fdc55e12 73.18%);

}

.order-by-app {
    display: flex;
    align-items: center;
}

.app-section .leftside-content p {
    width: 500px;
}

.app-section .leftside-content .download-btn {
    display: flex;
    gap: 27px;
}